* {
    margin: 0px;
    border: none;
}

.navBar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.43);
    height: 50px;
    border: none;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: x-large;
    font-weight: 800;
}

.navBar a {
    text-decoration: none;
    color: aliceblue;
}